$magenta: #d93182;
$red: #dc143a;
$orange: #ff6c00;
$yellow: #ffd535;
$green: #007d55;
$cyan: #27aae1;
$fadedRed: #fa4248;

$darkGrey: #3c3c3c;
$grey: #ccc;
$lightGrey: #e3e3e3;
$lightestGrey: #f8f8f8;
$button-text: #a3a3a3;
$stroke-color: rgba(0, 0, 0, 0.2);

$easing-curve: cubic-bezier(0.7, 0, 0.3, 1);
$heart-curve: cubic-bezier(0.83, -0.47, 0.55, 4);

$navHeight: 100px;
$navHeight-sml: 80px;

$body-padding-sml: 20px;
$body-padding: 30px;

$button-size: 65px;
$button-size-sml: 50px;

$maxWidth: 1400px;
$lrgBP: 1280px;
$medBP: 940px;
$smlBP: 640px;
